.home {
 margin: 0;
 display: flex;
 flex-direction: column;
 align-items: center;

}
input, textarea, select, a, button { outline: none; }

.home > h1 {
 color: #000000;
} 

.home__alphabet{
 width: 80%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.home__answer{
 width: 80%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}